*{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#videoFeeds{
    margin-left: 5px;
}
body{
    background: #43464B;
    margin: 0;
    padding: 0;
}
#title-p{
    margin-left: 0;
}
form{
    margin:0 20px 0 0;
}
.holder{
    border: 1px solid black;
    background: white;
    display: inline-block;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    width: 32%;
    min-width: 325px;    
}

.canvasHolder{
    min-height: 200px;    
}

canvas{
   display: inline-block;
   max-width: 99%;
}


#canvas-test{
    width: 50%;
}

.real{
    display: none;
}

#title-text{    
    display: inline;
    font-weight: 500;
    font-size: 1.5em;
    font-family: Courier New, Courier, monospace;      
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
    color:white;
}

#title{    
    height: 23px;
    margin-bottom: 30px;
    background-color:#D67513; 
    padding-top: 10px;
    padding-bottom: 10px;
}

#graph-holder{
    text-align: center;   
}

#graph{
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
    width:100%;
    height:300px;
}
#graphHolder{
    width:70%;
    margin: 0 0 0 15%;
    /*height: 300px;*/
}

ul {
    list-style-type: none;
    margin: 0 0 0 50px;
    padding: 0;
    display: inline-block;    
}

li{
    display:inline;
    margin-right: 8px;       
}

a{
    text-decoration: none;
    color: #223DC8;
}

.button-class{
    float: right;
    height: 20px;
    width: 120px;
    display: inline-block;
    border: 1px solid black;
    background-color: #223DC8;
    margin-left: 15px;    
    font-size:12px;
    color: white;
    text-align: center;
    padding-top:5px;
    border-radius: 3px;
    margin-right: 5px;
}
#detect-button:hover{
    cursor: pointer;
}
.button-class{
    cursor: pointer;
}
#button-label{
    font-size: 12px;
}

form{
    margin-top: 3px;
    display: inline-block;
    float: right;
    color:white;
}

.small{
    width: 90px;
    margin-left: 6px;
}

#reset-button{
    background-color: #961b1b;
}

.upload{
    float: right;   
    width: 175px;
    margin-top: 5px;
}

label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    float: right;
    cursor: pointer;
}

label:hover {
    background-color: red;
}

.img-holder{
    margin-top:50px;
}

.profile{
    display: inline-block;
    margin:0 40px; 
}

.pic img{
    overflow: hidden;
    width: 200px;
    border-radius: 50%;
    position: relative;
}

.pic:hover img:last-child{
    display: none;   
}

.pic:hover img:first-child{
    display: inline-block;   
}
.profiles{
    text-align: center;
    margin-top: 65px;
}

.social-media{
    margin: 0;
}
.social-media img{
    width: 40px;
    text-align: left;    
}

.profile p{
    color:white;
}

.mark:hover{
    background-image: url("./headshots/red_Rect.png");
}

.rect{
    display: none;
}

.logo{
    position: absolute;
    top: 3px;
    left: 0px;
    width: 50px;
}

#showcase{
    position: relative;
}

#wasm-speed{
    color: red;
}

#asm-speed{
    color: rgba(0,191,255,1);
}

#js-speed{
    color: green;
}


