
.holder{
    border: 1px solid black;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    width: 32%;
}

canvas{
   display: inline-block;
   width: 99%;
}

#canvas-test{
    width: 50%;
}

.real{
    display: none;
}

p{
    display: inline-block;
    /*font-weight: bold;*/
    font-weight: 500;
    font-size: 2em;
    font-family: Courier New, Courier, monospace
    
}
#title{
    text-align: center;
}
